<% if @posts.length > 0 %>
	<ul class="item-list">
		<% @posts.each do |post| %>
			<li class="item">
				<div class="item-header">
					<p class="item-header-subtitle">Charles Hollenbeck</p>
					<p class="item-header-title"><%= post.name %></p>
				</div>
				<div class="item-content">
					Created <%= time_ago_in_words(post.created_at) %> ago
				</div>
			</li>
		<% end %>
	</ul>
<% else %>
	<p>No Posts to Show</p>
<% end %>