<ul class="item-list">
	<% @posts.each do |post| %>
		<li class="item">
			<%= link_to admin_post_url(post) do %>
				<div class="item-header">
					<p class="item-header-subtitle">Charles Hollenbeck</p>
					<p class="item-header-title"><%= post.name %></p>
				</div>
				<div class="item-content">
					Created <%= time_ago_in_words(post.created_at) %> ago
				</div>
			<% end %>
		</li>
	<% end %>
</ul>