<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Login | Charles Hollenbeck</title>
		<meta charset="UTF-8" />
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="wrapper">
			<main>
				<%= yield %>
			</main>
		</div>
	</body>
</html>